{% extends "portfolio/base.html" %}

{% block content %}

<section class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="text-light">Gestão de Tecnologias</h1>

        {% if is_gestor %}
            <a href="{% url 'criar_tecnologia' %}" 
               class="btn btn-success btn-lg px-5 py-3" 
               style="font-size: 1.2rem;">
                + Nova Tecnologia
            </a>
        {% endif %}
    </div>

    <div class="row">
        {% for tecnologia in dados %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow bg-dark text-light border-secondary">

                    {% if tecnologia.logo %}
                        <img src="{{ tecnologia.logo.url }}" class="card-img-top" alt="{{ tecnologia.nome }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ tecnologia.nome }}</h5>
                        <p class="card-text">{{ tecnologia.descricao }}</p>

                        <div class="mt-3 d-flex gap-2 flex-wrap">
                            <a href="{% url 'tecnologia_detail' tecnologia.id %}" 
                               class="btn btn-light px-3">
                                Ver
                            </a>

                            {% if is_gestor %}
                                <a href="{% url 'editar_tecnologia' tecnologia.id %}" 
                                   class="btn btn-warning px-3">
                                    Editar
                                </a>

                                <a href="{% url 'apagar_tecnologia' tecnologia.id %}" 
                                   class="btn btn-danger px-3">
                                    Apagar
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-light">Ainda não existem tecnologias.</p>
        {% endfor %}
    </div>

    <a href="{% url 'home' %}" class="btn btn-secondary mt-4">
        Voltar
    </a>
</section>

{% endblock %}